* text=auto eol=lf
gradlew text eol=lf
*.sh text eol=lf
Dockerfile text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.java text eol=lf
*.kt text eol=lf
*.kts text eol=lf
*.sql text eol=lf
Jenkinsfile text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
gradlew.bat text eol=crlf
